<html>
	<head>
		<title>
			{{title}}
		</title>
	</head>

	<body>
    {{{body}}}
    {{#each user.works}}
      <div>
        <h1>summury:</h1>{{summury}}
        <div>
          Works:
          <ul>
            {{#each plans}}
              <li>
              {{item.title}}
              {{item.content}}
              </li>
            {{/each}}
          </ul>
            {{mycar.title}}
        </div>
      </div>
      {{/each}}
     {{user.profile.name}}
     {{user.profile.name.firstname}}
     {{footer.content}}
	</body>
</html>
