<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="{{baseUrl}}css/home.css" />
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="block">
        <hr><h3 class="title">{{home.head1}}!</h3><hr>
        <p>{{home.content1}}</p>
      </div> <!-- /.block -->
      {{#if lang}}{{else}}
      <div class="block">
        <hr><h3 class="title">必看</h3><hr>
        <ul class="enableOpen">
          <li id="list-1">找老師寫推薦信注意事項(大四甄試研究所適用)</li>
          <div id="content-1" class="list-content">
            <h3 class="subtitle">準備工作</h3>
            <ol><li>仔細看簡章上的要求, 包括封數/格式等等</li>
                <li>思考要找的老師。有幾個思考的面向:
                    <ol><li>除非有特殊原因, 否則專題老師一定要找</li>
                        <li>最熟悉你的老師, 比方說上課或下課會去問問題的</li>
                        <li>考試或作業有傑出表現科目的授課老師<br/>
                            (什麼叫傑出? 兩年過後助教和老師還有印象就叫傑出!) <br/>
                            不要以為找高分科目的老師幫你寫就會加分, 有時候找低分科目的老師幫你證明你其實有 100 分的實力, 反而更有加分效果<br/>
                            (如果想破了頭都想不到應該找誰寫, 那你憑什麼甄試? 憑什麼要人家推薦你?)</li></ol></li>
                <li>應準備的文件: (缺一樣或不完整就別想進入下一階段)
                    <ol><li>備審資料</li>
                        <li>成績單</li>
                        <li>專題報告 (此時專題至少應完成 70% 實作)</li>
                        <li>特殊表現清單 (值得被寫在推薦信中的事蹟; 至少三點)</li>
                        <li>推薦信 (上方的基本資料先填好)</li></ol></li>
            </ol>
            <hr>
            <h3 class="subtitle">寄信給老師</h3>
            <ol><li>第一封信是詢問老師是否願意幫忙寫推薦信, 信中必須提供完整資訊, 包括:
                  <ol><li>我是誰? 我和老師的關聯是?</li>
                      <li>預計要甄試的校系, 未來想從事的研究方向</li>
                      <li>想請老師幫忙推薦的事由 (應為特殊表現清單的子集合)</li>
                      <li>備審資料電子檔</li>
                      <li>成績單掃瞄檔</li>
                      <li>專題報告電子檔</li>
                      <li>推薦信電子檔 (已填好基本資料)</li>
                      <li>上述資料若未包含照片, 應另附照片於信中, 或提供任何方便老師拾回對你的記憶的資訊 (如 Facebook 帳號) 不要期望老師看到名字就知道你是誰</li></ol></li>
                <li>等老師回信說願意幫你寫之後, 才可以寫第二封信跟老師約時間, 切忌不要直接問 "老師什麼時候有空?", 如果老師說了一個時間, 但你卻沒空, 豈不糗哉? 比較好的作法是把課表給老師, 或是把有空的區段都列出, 讓老師可以很快速地選時段<br/>
                    有些老師會叫你先寫好給他改, 這時候不要急著約時間, 先透過 email 往返推薦信的內容, 確定老師說 OK 了再約時間。 寄出第一封信之後, 一直到拿到推薦信為止, 要多檢查信箱。 老師隨時可能會問你問題, 要你補資料。<br/>
                    如果你希望老師 "重視" 你的推薦信, 你必須 "非常重視" 與老師間的互動。<br/>
                    至於到底要多常檢查信箱? <span style="font-weight:bold">Clean up your mail before you go to bed!</span></li></ol>
            <hr>
            <h3 class="subtitle">去拿推薦信</h3>
            <p>除非老師明確地說他會從他那邊印, 否則一定要自己印了帶去 切忌帶一張空白的推薦信去找老師 (上面的基本資料一定要先填好) </p>
            <hr>
            <h3 class="subtitle">放榜之後</h3>
            <p>記得要寄信跟老師說上榜的情況, 這是基本的禮貌, 未來若有機會再請同一位老師寫推薦信, 老師會比較願意再幫你寫</p>
          </div>
        </ul>
      </div> <!-- /.block -->
      {{/if}}
      <div class="block">
        <hr><h3 class="title">{{home.head3}}</h3><hr>
        <ul class="enableOpen">
          {{#each news}}
          <li id="list-{{@key}}">{{@key}}</li>
            <div id="content-{{@key}}" class="list-content {{#if @first}} active {{/if}}">
              {{#each this}}
              <div class="row" {{#if @first}}{{else}}style="margin-top:10px;"{{/if}}>
                <div class="col-md-2 date">{{this.date}}</div>
                <div class="col-md-1 col-xs-2 type">{{this.type}}</div>
                <div class="col-md-9 col-xs-10">{{{this.description}}}</div>
              </div> 
                {{#if this.comment}}
                <div class="row">
                  <div class="col-md-3 col-xs-2"></div>
                  <div class="col-md-9 col-xs-10 comment">{{{this.comment}}}</div>
                </div>
                {{/if}}
              {{/each}}
            </div> <!-- /.list-content -->
          {{/each}}
        </ul>
      </div> <!-- /.block -->
      <div class="block" id="visitor">
        <hr><h3 class="title">Visitors (since May 9th 2016)</h3><hr>
        <a href="http://info.flagcounter.com/WV9Z" target="_blank">
          <img src="http://s06.flagcounter.com/map/WV9Z/size_m/txt_000000/border_CCCCCC/pageviews_1/viewers_0/flags_0/" alt="Flag Counter" border="0">
        </a>
        <a href="http://s05.flagcounter.com/more/AX" target="_blank">
          <img src="http://s05.flagcounter.com/count2/AX/bg_FFFFFF/txt_000000/border_CCCCCC/columns_5/maxflags_30/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0">
        </a>
      </div> <!-- /.block -->
    </div> <!-- /.container-fluid -->
    {{> footer }}
    <script src="{{baseUrl}}js/home.js"></script>
  </body>
</html>
