<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="{{baseUrl}}css/layout.css" />
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <ul class="nav nav-tabs">
      {{#each honors}}
        <li {{#if @first}} class="active" {{/if}}><a href="#hon-{{@index}}">{{getLang ../honor @key}}</a></li>
      {{/each}}
        <li class="toTop"><a href="#"></a></li>
      </ul>
      {{#each honors}}
      <div class="block" id="hon-{{@index}}">
        <hr><h3 class="title">{{getLang ../honor @key}}</h3><hr>
        <ul class="enableOpen">
          {{#each this}}
          <li id="list-{{@../index}}-{{@key}}">{{@key}}</li>
            <div id="content-{{@../index}}-{{@key}}" class="list-content {{#if @first}} active {{/if}}">
              {{#each this}}
              <div class="row" style="margin:5px -15px">
                <div class="col-md-3">
                  {{#ifCond ../../../lang '&&' this.name_en}}
                    {{this.name_en}}
                  {{else}}
                    {{this.name}}
                  {{/ifCond}}
                </div>
                <div class="col-md-9">
                  {{#ifCond ../../../lang '&&' this.content_en}}
                    {{{this.content_en}}}
                  {{else}}
                    {{{this.content}}}
                  {{/ifCond}}
                </div>
              </div>
              {{/each}}
            </div> <!-- /.list-content -->
          {{/each}}
        </ul>
      </div> <!-- /.block -->
      {{/each}}
    </div> <!-- /.container-fluid -->
    {{> footer }}
  </body>
</html>


