<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="{{baseUrl}}css/research.css" />
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#direction">研究方向</a></li>
        <li><a href="#project">研究計畫</a></li>
      </ul>
      <div class="block" id="direction">
        <hr><h3 class="title">研究方向</h3><hr>
        <h3 style="margin:30px 0;">本實驗室的研究主軸為<span style="font-weight:bold;">行動網路設計與分析</span></h3>
        <h3 class="subtitle">目前本實驗室之研究主題包括</h3>
        <ul><li>Software Defined Network (SDN) and Network Function Virtualization (NFV)</li>
            <li>Machine-to-Machine (M2M) Communication / Machine-type Communication (MTC)</li>
            <li>enhanced Inter-Cell Interference Coordination (eICIC)</li>
            <li>Local IP Access (LIPA)</li>
            <li>Device-to-Device (D2D) Communication</li>
            <li>Cloud Gaming</li></ul>
        <hr>
        <h3 class="subtitle">近五年之研究主題包括</h3>
        <ul><li>行動定位技術</li>
            <li>緊急通訊技術</li>
            <li>電信企業等級資訊系統設計</li>
            <li>IMS (IP Multimedia Subsystem) 緊急電話</li>
            <li>隨按即說 (Push-to-talk over Cellular; PoC)</li>
            <li>語音通話連續性 (Voice Call Continuity; VCC)</li>
            <li>電話竊聽</li>
            <li>國際電話節費</li>
            <li>電信網路與 Web 2.0 技術之整合</li></ul>
      </div> <!-- /.block -->
      <div class="block" id="project">
        <hr><h3 class="title">研究計畫</h3><hr>
        {{#ifCond projects.current.independent '||' projects.current.cooperation}}
          <h3 class="subtitle">本實驗室正在執行中之計畫</h3>
          {{#if projects.current.independent}}
            <h3>蔡孟勳教授擔任主持人之計劃</h3>
            <ol reversed>
            {{#each projects.current.independent}}
              <li>計畫名稱－{{this.name}}<br/>
                  執行期間－{{this.duration}}<br/>
                  補助單位－{{this.subsidy}}</li>
            {{/each}}
            </ol>
          {{/if}}
          {{#if projects.current.cooperation}}
            <h3>蔡孟勳教授擔任共同主持人或協同主持人之計劃</h3>
            <ol reversed>
            {{#each projects.current.cooperation}}
              <li>計畫名稱－{{this.name}}<br/>
                  執行期間－{{this.duration}}<br/>
                  補助單位－{{this.subsidy}}</li>
            {{/each}}
            </ol>
          {{/if}}
          <hr>
        {{/ifCond}}
        <h3 class="subtitle">本實驗室過去執行過之計畫</h3>
        {{#if projects.past.independent}}
          <h3>蔡孟勳教授擔任主持人之計劃</h3>
          <ol reversed>
          {{#each projects.past.independent}}
            <li>計畫名稱－{{this.name}}<br/>
                執行期間－{{this.duration}}<br/>
                補助單位－{{this.subsidy}}</li>
          {{/each}}
          </ol>
        {{/if}}
        {{#if projects.past.cooperation}}
          <h3>蔡孟勳教授擔任共同主持人或協同主持人之計劃</h3>
          <ol reversed>
          {{#each projects.past.cooperation}}
            <li>計畫名稱－{{this.name}}<br/>
                執行期間－{{this.duration}}<br/>
                補助單位－{{this.subsidy}}</li>
          {{/each}}
          </ol>
        {{/if}}
      </div> <!-- /.block -->
    </div> <!-- /.container-fluid -->
    {{> footer }}
  </body>
</html>
