<!DOCTYPE html>
<html lang="{{#if lang}}en{{else}}zh-tw{{/if}}">
  <head>
    {{> head}}
    <link rel="stylesheet" href="{{baseUrl}}css/research.css" />
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#topic">{{research.head1}}</a></li>
        <li><a href="#project">{{research.head2}}</a></li>
        <li class="toTop"><a href="#"></a></li>
      </ul>
      <div class="block" id="topic">
        <hr><h3 class="title">{{research.head1}}</h3><hr>
        <h3 style="margin:30px 0;line-height:1.5em">{{research.des1-1}}<span style="font-weight:bold;">{{research.des1-2}}</span></h3>
        <h3 class="subtitle">{{research.subtitle1-1}}</h3>
        <ul><li>Software Defined Network (SDN) and Network Function Virtualization (NFV) (軟體定義網路/網路功能虛擬化)</li>
            <li>Machine-to-Machine (M2M) Communication / Machine-type Communication (MTC) (機器類型通訊)</li>
            <li>Local IP Access (LIPA)</li>
            <li>Device-to-Device (D2D) Communication</li>
            <li>Cloud Radio Access Network (C-RAN)</li>
            <li>Narrow Band IoT (NBIoT)</li></ul>
        <hr>
        <h3 class="subtitle">{{research.subtitle1-2}}</h3>
        <ul>
			<li>enhanced Inter-Cell Interference Coordination (eICIC)</li>
            <li>Positioning Methods in Cellular Network (行動定位技術)</li>
			<li>Emergency Communications (緊急通訊技術)</li>
            <li>System Design for Telecom-grade Information System (電信企業等級資訊系統設計)</li>
            <li>IP Multimedia Subsystem (IMS; IP 多媒體子系統) </li>
            <li>Voice Call Continuity (VCC; 語音通話連續性)</li>
        </ul>
            <!--li>電話竊聽</li-->
            <!--li>國際電話節費</li-->
            <!--li>電信網路與 Web 2.0 技術之整合</li-->
            <!--li>隨按即說 (Push-to-talk over Cellular; PoC)</li-->
      </div> <!-- /.block -->
      <div class="block" id="project">
        <hr><h3 class="title">{{research.head2}}</h3><hr>
        {{#ifCond projects.current.independent '||' projects.current.cooperation}}
          <h3 class="subtitle">{{research.subtitle2-1}}</h3>
          {{#if projects.current.independent}}
            <h3>{{research.PI}}</h3>
            <ol reversed>
            {{#each projects.current.independent}}
              <li>{{../research.proj-name}}－
                  {{#ifCond ../lang '&&' this.name_en}}
                    {{{this.name_en}}}
                  {{else}}
                    {{{this.name}}}
                  {{/ifCond}}<br/>
                  {{../research.proj-dur}}－{{this.duration}}<br/>
                  {{../research.proj-sponsor}}－
                  {{#ifCond ../lang '&&' this.subsidy_en}}
                    {{{this.subsidy_en}}}
                  {{else}}
                    {{{this.subsidy}}}
                  {{/ifCond}}</li>
            {{/each}}
            </ol>
          {{/if}}
          {{#if projects.current.cooperation}}
            <h3>{{research.co-PI}}</h3>
            <ol reversed>
            {{#each projects.current.cooperation}}
              <li>{{../research.proj-name}}－
                  {{#ifCond ../lang '&&' this.name_en}}
                    {{{this.name_en}}}
                  {{else}}
                    {{{this.name}}}
                  {{/ifCond}}<br/>
                  {{../research.proj-dur}}－{{this.duration}}<br/>
                  {{../research.proj-sponsor}}－
                  {{#ifCond ../lang '&&' this.subsidy_en}}
                    {{{this.subsidy_en}}}
                  {{else}}
                    {{{this.subsidy}}}
                  {{/ifCond}}</li>
            {{/each}}
            </ol>
          {{/if}}
          <hr>
        {{/ifCond}}
        <h3 class="subtitle">{{research.subtitle2-2}}</h3>
        {{#if projects.past.independent}}
          <h3>{{research.PI}}</h3>
          <ol reversed>
          {{#each projects.past.independent}}
            <li>{{../research.proj-name}}－
                {{#ifCond ../lang '&&' this.name_en}}
                  {{{this.name_en}}}
                {{else}}
                  {{{this.name}}}
                {{/ifCond}}<br/>
                {{../research.proj-dur}}－{{this.duration}}<br/>
                {{../research.proj-sponsor}}－
                {{#ifCond ../lang '&&' this.subsidy_en}}
                  {{{this.subsidy_en}}}
                {{else}}
                  {{{this.subsidy}}}
                {{/ifCond}}</li>
          {{/each}}
          </ol>
        {{/if}}
        {{#if projects.past.cooperation}}
          <h3>{{research.co-PI}}</h3>
          <ol reversed>
          {{#each projects.past.cooperation}}
            <li>{{../research.proj-name}}－
                {{#ifCond ../lang '&&' this.name_en}}
                  {{{this.name_en}}}
                {{else}}
                  {{{this.name}}}
                {{/ifCond}}<br/>
                {{../research.proj-dur}}－{{this.duration}}<br/>
                {{../research.proj-sponsor}}－
                {{#ifCond ../lang '&&' this.subsidy_en}}
                  {{{this.subsidy_en}}}
                {{else}}
                  {{{this.subsidy}}}
                {{/ifCond}}</li>
          {{/each}}
          </ol>
        {{/if}}
      </div> <!-- /.block -->
    </div> <!-- /.container-fluid -->
    {{> footer }}
  </body>
</html>
