<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="{{baseUrl}}css/resource.css" />
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#document">技術文件</a></li>
        <li><a href="#journal">期刊</a></li>
        <li><a href="#conf">研討會</a></li>
        <li><a href="#blog">部落格</a></li>
        <li><a href="#apply">申請獎項</a></li>
        <li class="toTop"><a href="#"></a></li>
      </ul>
      <div class="block" id="document">
        <hr><h3 class="title">相關技術文件</h3><hr>
        <h3>3GPP LTE/LTE-Adv</h3>
        <ul><li><a href="http://blog.3g4g.co.uk/" target="_blank">3G and 4G Wireless Blog</a></li>
            <li><a href="http://4g-portal.com/" target="_blank">4G-Portal</a></li>
        </ul>
        <hr>
        <h3>頻譜分配</h3>
        <ul><li><a href="http://www.motc.gov.tw/post/home.jsp?id=364&parentpath=0" target="_blank">交通部 我國無線電頻率分配表</a></li>
            <li><a href="http://freqdbo.ncc.gov.tw/Portal/index.aspx" target="_blank">NCC 頻率資料庫查詢系統</a></li>
            <li><a href="http://freqdbo.ncc.gov.tw/upload/FILESAVE/080724081215.pdf" target="_blank">中華民國頻率分配圖</a></li>
        </ul>
        <hr>
        <h3>開放式課程</h3>
        <ul><li><a href="http://ocw.aca.ntu.edu.tw/ntu-ocw/" target="_blank">台灣大學</a></li>
            <li><a href="http://ocw.nctu.edu.tw/" target="_blank">交通大學</a></li>
            <li><a href="http://ocw.nthu.edu.tw/ocw/" target="_blank">清華大學</a></li>
        </ul>
      </div> <!-- /.block -->
      <div class="block" id="journal">
        <hr><h3 class="title">相關期刊</h3><hr>
        <ul><li>IEEE Wireless Communications Magazine</li>
            <li>IEEE Communications Magazine</li>
            <li>IEEE Network</li>
            <li>IEEE Communications Letter</li>
            <li>IEEE Journal on Selected Areas in Communications</li>
            <li>IEEE Transactions on Mobile Computing</li>
            <li>IEEE Transactions on Wireless Communications</li>
        </ul>
      </div> <!-- /.block -->
      <div class="block" id="conf">
        <hr><h3 class="title">相關研討會</h3><hr>
        <div class="table-responsive">
        <table class="table">
          <thead class="thead-inverse"><tr>
              <th>Conference</th>
              <th>Date</th>
              <th>Place</th>
              <th>Submission Deadline</th>
          </tr></thead>
          <tbody>
          {{#each conf}}
            {{#each this}}
            <tr class="{{#ifCond @../index '!%' 2}} row-inverse {{/ifCond}} {{#ifCond @../index '%' 2}} row-default {{/ifCond}}" 
                data-href="{{this.link}}">
              {{#if @first}} <td class="td-title" rowspan="{{../this.length}}">{{@../key}}</td> {{/if}}
              <td>{{this.date}}</td>
              <td>{{this.place}}</td>
              <td class="{{#if due}}deleted{{else}}highlight{{/if}}">{{this.deadline}}</td>
            </tr>
            {{/each}}
          {{/each}}
          </tbody>
        </table></div>
      </div> <!-- /.block -->
      <div class="block" id="blog">
        <hr><h3 class="title">推薦部落格</h3><hr>
        <ul><li><a href="http://blog.bs2.to/liny" target="_blank">林一平部落格</a></li>
            <li><a href="http://blog.xuite.net/ycedu/blog" target="_blank">教書匠的夢想</a></li>
            <li><a href="http://mhperng.blogspot.com/" target="_blank">清大彭明輝的部落格</a></li>
            <li><a href="http://blog.vgod.tw/" target="_blank">vgod's blog</a></li>
        </ul>
      </div> <!-- /.block -->
      <div class="block" id="apply">
        <hr><h3 class="title">可申請獎項</h3><hr>
        <h3>出國參加研討會補助</h3>
        <ul><li><a href="http://www.faos.org.tw/Application/index.asp" target="_blank">傑出人才發展基金會</a></li></ul>
        <hr>
        <h3>碩博士論文獎</h3>
        <ul><li><a href="http://www.iicm.org.tw/" target="_blank">中華民國資訊學會 碩博士最佳論文獎</a> (Deadline: 8/15)</li>
            <li><a href="http://www.ciee.org.tw/" target="_blank">中國電機工程學會 青年論文獎</a> (Deadline: 8/1)</li>
            <li><a href="https://sites.google.com/site/tieeeorg/Home" target="_blank">台灣電機電子工程學會 最佳博碩士論文獎</a> (Deadline: 8/31)</li>
        </ul>
        <hr>
        <h3>大學生可申請獎項</h3>
        <ul><li><a href="http://web1.nsc.gov.tw/lp.aspx?CtNode=343&CtUnit=488&BaseDSD=5&mp=1" target="_blank">國科會大專學生研究計畫</a> (Deadline: 二月中)</li>
            <li><a href="http://www.cie.org.tw/awards_selection_detail.php?id=11" target="_blank">中國工程師學會 優秀工程學生獎學金</a> (Deadline: 3/15)</li>
            <li><a href="http://www.cie.org.tw/news_detail.php?id=33" target="_blank">中國工程師學會 學生分會 工程論文競賽</a></li>
        </ul>
        <hr>
        <h3>比賽</h3>
        <ul><li><a href="http://telsoft.hinet.net/" target="_blank">中華電信 電信創新應用大賽</a> (Deadline: 八月初)</li>
            <li><a href="http://www.mobilehero.com/" target="_blank">經濟部工業局 通訊大賽</a> (Deadline: 九月初)</li>
            <li><a href="http://innoserve.tca.org.tw/" target="_blank">經濟部工業局 資訊應用服務創新競賽</a> (Deadline: 十月中)</li>
            <li><a href="http://ncsiac.csie.ncu.edu.tw/" target="_blank">教育部 大學校院網路通訊軟體與創意應用競賽</a> (Deadline: 十一月底)</li>
        </ul>
        <hr>
        <h3>其他</h3>
        <ul><li><a href="http://sgd.adm.ncku.edu.tw/scholarship/" target="_blank">成功大學獎學金查詢</a></li>
            <li><a href="http://associations.cyc.org.tw/" target="_blank">救國團 青年節表揚大專優秀青年</a> (Deadline: 3/15)</li>
        </ul>
      </div> <!-- /.block -->
    </div> <!-- /.container-fluid -->
    {{> footer }}
    <script>
$(document).ready(function($) {
    $(".row-default, .row-inverse").click(function() {
        window.open($(this).data("href"),"_blank");
    });
});
    </script>
  </body>
</html>

